@use 'variaciones';
.caja{
    h2{
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:variaciones.$color-primario;
    }
    p{
        color: aqua;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline;
    }
}

@function pixeles-rem($pixeles){
    $rem: math.div($pixeles, 16) * 1rem;

    @return $rem;
}